# Dependencies
node_modules/
.expo/
dist/

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/

# Env
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Database (local)
*.db
*.sqlite
